<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burguer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" >
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/estilo.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Neuton&display=swap" rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Cairo&family=Hind+Siliguri&family=Oswald&family=Raleway:ital,wght@1,300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/743266ffc2.js" crossorigin="anonymous"></script>

</head>

<body>




    <nav class="navbar navbar-expand-lg navbar-light  bg-dark  border-bottom ">
        <div class="container">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item px-2 pt-5">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand fw-bold px-5 pt-4" href="#">Kinga Burguers</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item px-2 pt-5">
                        <a class="nav-link " href="/burguers">Burguers</a>
                    </li>

                </ul>
            </div>



        </div>
    </nav>
    {{{body}}}

    <footer class="bg-dark">
        <div class="container-fluid">
            <div class="row  text-center p-5  text-white">
                <div class="col ">
                    <p class="h3 texto-footer">Kinga</p>
                    <div class="redes-container">
                        <ul>
                            <li><a class="facebook" href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                            <li><a class="instagram" href="#"> <i class="fa-brands fa-instagram"></i></a></li>
                            <li><a class="whatsapp" href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row text-center  ">
                <div class="col ">
                    <p class="text-secondary"> KINGA BURGERS© - DISEÑADO POR FACUNDO DAMIANO</p>
                </div>
            </div>
        </div>




    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>


</body>

</html>