<body>



    <section class="fondo-color-burguers">



        <div class=" d-flex justify-content-center align-items-center fondo-burguers">
            <div class="badge texto-inicio-burguers ">
                <h3 class="titulo-inicio-burguers">
                    Nuestro menú
                </h3>

                <p class="p-inicio-burguers">- Obvio... vienen con papas. -</p>
            </div>
        </div>

<!-- Button trigger modal -->
<button type="button" class="btn boto-carrito " data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="icono-carrito fa-solid fa-cart-shopping"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

        <div class="container">
            <div class="row">
                <div class="col">


                    <div class=" d-flex justify-content-center align-items-centers">
                        <div class="badge contenedor-hamburguesas">
                            <h3 class="hamburguesas">
                                Kinga Burguers
                            </h3>
                            <i class="i-burguer fa-solid fa-burger"></i>
                        </div>

                    </div>

                </div>
            </div>
        </div>



 <div class="container-fluid d-flex justify-content-center contenedor-burguers lista">




            <div class="row ">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="card bg-transparent text-dark  mb-3 " style="max-width: 590px;">
                        <div class="row g-0">
                            <div class="col-md-4 contenedor-imagen-burguers">
                                <img src="https://i.pinimg.com/564x/e7/c7/08/e7c708747da99b810f2278f2d1e291ae.jpg"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 d-flex align-items-center">
                                <div class="d-flex align-items-center card-body">
                                    <div class="contenedor-texto-carta">
                                        <h5 class="card-title titulo-menu-carta">Card title <span>$500</span></h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                        <a class="btn boton-menu btn-dark añadir-carrito" data-id="1">Añadir al
                                            carrito</a>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="card bg-transparent text-dark mb-3" style="max-width: 590px;">
                        <div class="row g-0">
                            <div class="col-md-4 contenedor-imagen-burguers">
                                <img src="https://i.pinimg.com/564x/e6/6a/bd/e66abde50d9c76151f5c3a9b182fe782.jpg"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 d-flex align-items-center">
                                <div class="d-flex align-items-center card-body">
                                    <div class="contenedor-texto-carta">
                                        <h5 class="card-title titulo-menu-carta">Card title <span>$500</span></h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                        <a class="btn boton-menu btn-dark añadir-carrito" data-id="1">Añadir al
                                            carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-transparent text-dark mb-3" style="max-width: 590px;">
                        <div class="row g-0">
                            <div class="col-md-4 contenedor-imagen-burguers">
                                <img src="https://i.pinimg.com/564x/e7/c7/08/e7c708747da99b810f2278f2d1e291ae.jpg"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 d-flex align-items-center">
                                <div class="card-body d-flex align-items-center">
                                    <div class="contenedor-texto-carta">
                                        <h5 class="card-title titulo-menu-carta">Card title <span>$500</span></h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                        <a class="btn boton-menu btn-dark añadir-carrito" data-id="1">Añadir al
                                            carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-transparent text-dark mb-3" style="max-width: 590px;">
                        <div class="row g-0">
                            <div class="col-md-4 contenedor-imagen-burguers">
                                <img src="https://i.pinimg.com/564x/e6/6a/bd/e66abde50d9c76151f5c3a9b182fe782.jpg"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 d-flex align-items-center">
                                <div class="d-flex align-items-center card-body">
                                    <div class="contenedor-texto-carta">
                                        <h5 class="card-title titulo-menu-carta">Card title <span>$500</span></h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                        <a class="btn boton-menu btn-dark añadir-carrito" data-id="1">Añadir al
                                            carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="card bg-transparent text-dark mb-3" style="max-width: 590px;">
                        <div class="row g-0">
                            <div class="col-md-4 contenedor-imagen-burguers">
                                <img src="https://i.pinimg.com/564x/e7/c7/08/e7c708747da99b810f2278f2d1e291ae.jpg"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 d-flex align-items-center">
                                <div class="d-flex align-items-center card-body">
                                    <div class="contenedor-texto-carta">
                                        <h5 class="card-title titulo-menu-carta">Card title <span>$500</span></h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                        <a class="btn boton-menu btn-dark añadir-carrito" data-id="1">Añadir al
                                            carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-transparent text-dark mb-3" style="max-width: 590px;">
                        <div class="row g-0">
                            <div class="col-md-4 contenedor-imagen-burguers">
                                <img src="https://i.pinimg.com/564x/e6/6a/bd/e66abde50d9c76151f5c3a9b182fe782.jpg"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 d-flex align-items-center">
                                <div class="d-flex align-items-center card-body">
                                    <div class="contenedor-texto-carta">
                                        <h5 class="card-title titulo-menu-carta">Card title <span>$500</span></h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                        <a class="btn boton-menu btn-dark añadir-carrito" data-id="1">Añadir al
                                            carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-transparent text-dark mb-3" style="max-width: 590px;">
                        <div class="row g-0">
                            <div class="col-md-4 contenedor-imagen-burguers">
                                <img src="https://i.pinimg.com/564x/e7/c7/08/e7c708747da99b810f2278f2d1e291ae.jpg"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 d-flex align-items-center">
                                <div class="d-flex align-items-center card-body">
                                    <div class="contenedor-texto-carta">
                                        <h5 class="card-title titulo-menu-carta">Card title <span>$500</span></h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                        <a class="btn boton-menu btn-dark añadir-carrito" data-id="1">Añadir al
                                            carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-transparent text-dark mb-3" style="max-width: 590px;">
                        <div class="row g-0">
                            <div class="col-md-4 contenedor-imagen-burguers">
                                <img src="https://i.pinimg.com/564x/e6/6a/bd/e66abde50d9c76151f5c3a9b182fe782.jpg"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 d-flex align-items-center">
                                <div class="d-flex align-items-center card-body">
                                    <div class="contenedor-texto-carta">
                                        <h5 class="card-title titulo-menu-carta">Card title <span>$500</span></h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                        <a class="btn boton-menu btn-dark añadir-carrito" data-id="1">Añadir al
                                            carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> 

        <div class="container">
            <div class="row">
                <div class="col">


                    <div class=" d-flex justify-content-center align-items-centers">
                        <div class="badge contenedor-hamburguesas">
                            <h3 class="hamburguesas">
                                Kinga Fries
                            </h3>
                            <img src="images/papas-fritas.png" class="i-fries"></img>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container ">
            <div class="row d-flex justify-content-center contenedor-fritas">
                <div class="card mb-3 bg-transparent text-dark  " style="max-width: 900px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="images/papasfritas-pag.jpg" class="img-fluid rounded-start imagen-fritas"
                                alt="...">
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <h5 class="card-title titulo-menu-carta">Card title <span>+$150</span></h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <a class="btn boton-menu btn-dark añadir-carrito" data-id="1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center contenedor-fritas">
                <div class="card mb-3 bg-transparent text-dark " style="max-width: 900px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="images/papasfritas-pag1.jpg" class="img-fluid rounded-start imagen-fritas"
                                alt="...">
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <h5 class="titulo-menu-carta card-title">Card title <span>+$150</span></h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <a class="btn boton-menu btn-dark añadir-carrito" data-id="1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center contenedor-fritas">
                <div class="card mb-3 bg-transparent text-dark " style="max-width: 900px;
            ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="images/papasfritas-pag3.jpg" class="img-fluid rounded-start imagen-fritas"
                                alt="...">
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <h5 class="titulo-menu-carta card-title">Card title <span>+$150</span></h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <a class="btn boton-menu btn-dark añadir-carrito" data-id="1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center contenedor-fritas">
                <div class="card mb-3 bg-transparent text-dark" style="max-width: 900px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="images/papasfritas-pag2.jpg" class="img-fluid rounded-start imagen-fritas"
                                alt="...">
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <h5 class="titulo-menu-carta card-title">Card title <span>+$150</span></h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <a class="btn boton-menu btn-dark añadir-carrito" data-id="1">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script src="javascripts/carrito.js"></script>
    <script src="javascripts/pedido.js"></script>

</body>